@import 'src/assets/scss/variables';
@import 'src/assets/scss/mixins';

.stud-course-search {
  display: flex;
  margin-bottom: 20px;

  &__input {
    margin-right: 5px;
    padding: 10px;
    width: 70%;
  }

  &__button {
    background-color: $sick-green-bg;
    border: none;
    border-radius: 3px;
    color: $white-font;
    padding: 10px;
  }
}

.stud-courses {
  &__add {
    @include flex-layout(center, flex-end);
  }

  &__add-button {
    background-color: $dark-sky-blue-bg;
    border: none;
    border-radius: 3px;
    color: $white-font;
    padding: 10px;
  }

  &__more {
    @include flex-layout(center, center);
    background-color: $white-bg;
    border-radius: 6px;
    box-shadow: $slight-shadow;
    text-decoration: underline;
    font-size: 0.75rem;
    padding: 10px;
  }

  &__empty {
    background-color: $white-bg;
    box-shadow: $slight-shadow;
    border-radius: 8px;
    padding: 20px;
    margin: 15px 0;
  }
}
