<article class="stud-course">
    <div class="stud-course__info">
        <header class="stud-course__header">
        <h2 class="stud-course__title">
          {{course.title | uppercase}}
          <span *ngIf="course.topRated">Top</span>
        </h2>
            <div class="stud-course__parameters">
                <time class="stud-course__duration">Duration: {{course.duration}}</time>
                <time class="stud-course__date">Date: {{course.creationDate | date: "d MMM, y"}}</time >
            </div>
        </header>
        <p class="stud-course__description">{{course.description}}</p>
    </div>

    <div class="stud-course__actions">
        <button class="stud-course-edit">Edit</button>
        <button class="stud-course-delete" (click)="delete()">Delete</button>
    </div>
</article>
