<article class="stud-course-item">
    <div class="stud-course-item__info">
        <header class="stud-course-item__title">
            <h2 class="stud-">Title</h2>
            <time class="stud-course-item__duration">clock 1h 28min</time>
            <time class="stud-course-item__date">calendar 9Nov, 2018</time >
        </header>
        <p class="stud-course-item__description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore, eaque? Sint, cum? Ullam ducimus dolorum itaque quidem esse illum consectetur corrupti dignissimos explicabo, quis beatae, odio autem. Nemo, facilis vitae.</p>
    </div>

    <div class="stud-course-item__actions">
        <button class="stud-course-edit">Edit</button>
        <button class="stud-course-delete">Edit</button>
    </div>
</article>
