// Backgrounds colors
$white-bg: #ffffff;
$dark-grey-bg: #414452;
$pale-grey-bg: #f2f3f7;
$charcoal-grey-bg: #414452;
$sick-green-bg: #9bc837;
$dark-sky-blue-bg: #30b6dd;

// Font colors
$white-font: #ffffff;
$slate-grey-font: #525462;
$silver-font: #c0c3ce;
$cloudy-blue-font: #b9bdce;
$soft-blue-font: #577ce6;

// Shadows
$slight-shadow: 0 1px 24px 0 rgba(18, 21, 35, 0.08);
