@import 'src/assets/scss/variables';
@import 'src/assets/scss/mixins';

.stud-footer {
    position: sticky;
    background-color: $charcoal-grey-bg;
    bottom: 0;
    color: $silver-font;
    text-align: right;
    padding: 20px;

    &__policies {
        font-style: normal;
        font-size: 0.875rem;
    }
}
