<section class="stud-auth">
  <h1>Login</h1>
  <mat-form-field class="stud-auth__field">
    <mat-label>
      Email
    </mat-label>
    <input #emailInput matInput type="email" />
  </mat-form-field>
  <mat-form-field class="stud-auth__field">
    <mat-label>
      Password
    </mat-label>
    <input #passwordInput matInput type="password" />
  </mat-form-field>

  <div class="stud-auth__actions">
    <a class="stud-auth__forgot">Forgot password?</a>

    <button
      #loginButton
      mat-raised-button
      color="primary"
      (click)="onLogIn()"
      disabled
    >
      Log in
    </button>
  </div>
</section>
