@import "src/assets/scss/variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  position: relative;
}

body {
  background-color: $pale-grey-bg;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
